#aside{
	text-align:center;
	padding:20px;
}
#portrait{
	margin:100px auto;
	margin-bottom:30px;
	border:3px solid #b7a394;
	/*border-radius:50%;*/
	/*overflow: hidden;*/
}
#intro{
	margin-top:100px;
}
#education{
	width:80%;
	height:180px;
}
#photo{
	float:right;
	height:180px;
	vertical-align: bottom;
}
#skill{
	width:47%;
	float: left;
}
#honors{
	width:47%;
	float:right;
}
#hobbies{
	clear:both;
}
tr{
	line-height:250%;
}
.title{
	width:10%;
	font-weight:bold;
	vertical-align:top;
}
.panel{
	font-size:18px;
	
}
.panel-body{
	padding:20px 40px;
	line-height:250%;
}
